
 g > .tick {
    stroke: lightgrey;
    opacity: 0.1;
}

.parent{
    height: 100vh;
    width: 75vw;
    position: relative;
    display: flex;
    right:-10vw;

    .start-page{
        width:100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        section{
            z-index: 30;
            text-align: center;
            border: 1px solid black;
            padding:0 30px 0 30px;
            z-index: 30;
            background:grey;
        }

        .start-footer{
            top:100vh;
            padding-bottom:30px;
            width:300px;
            border-bottom:none;
        }

        .start-header{
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-top: none;

        }

    }
    .tracking-page{
        position: absolute;


    }
}


.button-menu{
    z-index: 2;
}

.depth-parent{
    background: lightgray;
    right: 20px;
}


[h=true]{
    display: none !important;
}
